.TodoApp{
    width : 30%;
    min-width : 300px;
    border: 1px solid black;
    background-color: #bbbbbb;
    margin: 50px auto;
}
.TodoApp h1{
    color : #222;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    padding: 12px;
}
