.Todo{
    height: 80px;
    margin: 2px 0;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    overflow-y: scroll;
}
.Todo .body{
    width : calc(100% - 60px)
}
.Todo .body form, .Todo .body div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
    margin-left: 5px;
}
.Todo.disable{
    transition: 0.4s opacity;
    opacity: 0;
}
.Todo svg{
    background-color: rgb(122, 45, 45);
    color : white;
    height: 100%;
    width : 40px;
    transform: scaleX(0);
    font-size: 0.8rem;
    transition: .5s transform;
    margin-right: 5px;
    transform-origin : right;
    cursor: pointer;
}
.Todo:hover svg{
    transform: scaleX(1);
    transform-origin: left;

}

@media (max-width : 720px){
    .Todo svg{
        transform: scale(1);
    }
    .Todo{
        height : 60px;
    }
}